/*-------------------------------
    Dark Theme  CSS
-------------------------------*/
.switch-theme-mode {
  position: fixed;
  top: 200px;
  right: 20px;
  z-index: 99;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  transition: 0.4s;
  box-shadow: 0 0px 15px rgba(32, 32, 32, 0.2392156863);
  background: white url("../img/night.png");
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000;
}

input:checked + .slider:before {
  transform: translateX(24px);
  background: white url("../img/sunny.png");
  background-repeat: no-repeat;
  background-position: center;
}

/*---------------------------------
    Color CSS For Elements 
-----------------------------------*/
.theme-light .navbar-brand .logo-dark {
  display: none !important;
}
.theme-light .navbar-brand .logo-light {
  display: block !important;
}

.theme-dark .dpt-100 {
  padding-top: 100px;
}
.theme-dark .navbar-brand .logo-light {
  display: none !important;
}
.theme-dark .navbar-brand .logo-dark {
  display: block !important;
}
.theme-dark .btn.style1 {
  background-color: #091851;
}
.theme-dark .btn.style1:before {
  background: #3D72FC;
}
.theme-dark .btn.style2 {
  background-color: transparent;
}
.theme-dark .btn.style2:before {
  background: #091851;
}
.theme-dark .btn.style2:after {
  background: #3D72FC;
}
.theme-dark .btn.style2:hover {
  color: #fff;
}
.theme-dark .btn.style3 {
  background-color: #000;
  color: #fff;
}
.theme-dark .btn.style3:before {
  background: #3D72FC;
}
.theme-dark .btn.style3:hover {
  color: #fff;
}
.theme-dark .btn.style4 {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000;
}
.theme-dark .btn.style4:before {
  background: #3D72FC;
}
.theme-dark .btn.style4:hover {
  color: #fff;
}
.theme-dark .owl-carousel .owl-nav button.owl-prev, .theme-dark .owl-carousel .owl-nav button.owl-next {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.theme-dark .owl-carousel .owl-nav button.owl-prev i, .theme-dark .owl-carousel .owl-nav button.owl-next i {
  color: rgba(255, 255, 255, 0.85);
}
.theme-dark .owl-carousel .owl-nav button.owl-prev:hover, .theme-dark .owl-carousel .owl-nav button.owl-next:hover {
  background-color: #3D72FC;
  border-color: transparent;
}
.theme-dark .owl-carousel .owl-nav button.owl-prev:hover i, .theme-dark .owl-carousel .owl-nav button.owl-next:hover i {
  color: #fff;
}
.theme-dark .owl-carousel .owl-dots button.owl-dot span {
  background: rgba(255, 255, 255, 0.2);
}
.theme-dark .owl-carousel .owl-dots button.owl-dot.active span {
  background: #3D72FC;
}
.theme-dark .td-cod,
.theme-dark .bg-concrete,
.theme-dark .header-wrap.style2 .header-top,
.theme-dark .counter-area.style1::before {
  border: none;
  background-color: #0A0A0A !important;
}
.theme-dark .hero-wrap.style1 {
  background-color: #0A0A0A;
}
.theme-dark body,
.theme-dark .bg-white,
.theme-dark .header-wrap.style2 .header-bottom,
.theme-dark .search-area {
  background-color: #000 !important;
}
.theme-dark .td-aztech,
.theme-dark .bg-vista-white,
.theme-dark .header-wrap.style1 .header-bottom,
.theme-dark .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu,
.theme-dark .header-wrap.sticky,
.theme-dark .header-wrap.sticky.style1,
.theme-dark .header-wrap.style2 .header-top,
.theme-dark .hero-promo-text,
.theme-dark .course-card,
.theme-dark .vehicle-card,
.theme-dark .footer-wrap,
.theme-dark .counter-card-wrap,
.theme-dark .team-card,
.theme-dark .team-card .team-info-wrap,
.theme-dark .testimonial-slider-one,
.theme-dark .blog-card,
.theme-dark .bg-downriver,
.theme-dark .about-wrap.style3 .about-img-wrap .about-promo-box,
.theme-dark .testimonial-card.style1,
.theme-dark .about-wrap.style2 .about-content .ceo-message,
.theme-dark .select-lang .navbar-language .dropdown-menu,
.theme-dark .book-course-wrap .book-course-form,
.theme-dark .course-details-wrap .course-desc .course-author-card,
.theme-dark .wp-block-quote,
.theme-dark .why-choose-wrap.style3 .wh-content .feature-item-wrap .feature-item .feature-icon,
.theme-dark .about-wrap.style1 .about-img-wrap .about-promo-box,
.theme-dark .book-course-wrap .book-course-form .booking-form {
  background-color: #071315 !important;
}
.theme-dark .header-wrap.style1 .header-bottom .navbar .navbar-nav > .nav-item > a::after,
.theme-dark .header-wrap.style2 .header-bottom .navbar .navbar-nav > .nav-item > a::after,
.theme-dark .pricing-card.featured .pricing-header {
  background-color: #3D72FC !important;
}
.theme-dark h1,
.theme-dark h2,
.theme-dark h3,
.theme-dark h4,
.theme-dark h5,
.theme-dark h6,
.theme-dark h3 a,
.theme-dark a,
.theme-dark .btn:hover,
.theme-dark .contact-box-wrap .contact-item .contact-icon i,
.theme-dark .team-card .team-info-wrap .team-link i,
.theme-dark .accordion-item .accordion-header .accordion-button.collapsed,
.theme-dark .header-wrap.style2 .header-bottom .searchbtn i,
.theme-dark .accordion-item .accordion-header .accordion-button span i,
.theme-dark .book-course-wrap .book-course-form .booking-form .form-group label {
  color: #fff !important;
}
.theme-dark p, .theme-dark span,
.theme-dark article ol li,
.theme-dark .course-desc ol li,
.theme-dark .vehicle-desc ol li,
.theme-dark .team-desc ol li,
.theme-dark .terms-wrap ol li,
.theme-dark .post-metainfo li,
.theme-dark .course-card .course-info .course-metainfo li,
.theme-dark .checkbox label,
.theme-dark .course-details-wrap .course-desc .course-metainfo-wrap .course-metainfo li,
.theme-dark .form_group label,
.theme-dark .category-box ul li a i,
.theme-dark .content-feature-list li,
.theme-dark .content-feature-list.style2 li,
.theme-dark .pricing-card .pricing-features li,
.theme-dark .blog-card .blog-info .blog-metainfo li,
.theme-dark .login-form .login-body .form-group label {
  color: rgba(255, 255, 255, 0.85) !important;
}
.theme-dark h3:hover a,
.theme-dark a:hover,
.theme-dark .link,
.theme-dark #contactForm .form-check-label a,
.theme-dark article p strong,
.theme-dark .course-desc p strong,
.theme-dark .vehicle-desc p strong,
.theme-dark .team-desc p strong,
.theme-dark .copyright-text p a,
.theme-dark .terms-wrap p strong,
.theme-dark .counter-card .counter-icon i,
.theme-dark .category-box ul li a:hover i,
.theme-dark .breadcrumb-title .breadcrumb-menu li:last-child,
.theme-dark .header-wrap.style1 .header-bottom .navbar-nav .nav-item a.active,
.theme-dark .header-wrap.style2 .header-bottom .navbar .navbar-nav .nav-item a.active,
.theme-dark .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
  color: #3D72FC !important;
}
.theme-dark article,
.theme-dark .btn.style2,
.theme-dark .team-tablist,
.theme-dark .team-tabcontent,
.theme-dark .pricing-card .purchase-btn,
.theme-dark .course-details-wrap .course-desc .course-brief ul li,
.theme-dark .testimonial-card.style1 .client-info-wrap,
.theme-dark .vehicle-card .vehicle-info .vehicle-meta-info,
.theme-dark .blog-card.style1 .blog-info p,
.theme-dark .feature-item-wrap .feature-item.style2,
.theme-dark .course-card.style1 .course-info .course-author-wrap,
.theme-dark .accordion-body,
.theme-dark .sidebar .sidebar-widget h4,
.theme-dark .comment-item-wrap .comment-item,
.theme-dark .post-author,
.theme-dark .feature-item-wrap .feature-item.style1 {
  border-color: rgba(255, 255, 255, 0.19);
}
.theme-dark .post-tag ul li a:hover,
.theme-dark .tag-list ul li a:hover {
  background: #3D72FC !important;
  border-color: transparent;
  color: #fff;
}
.theme-dark .hero-wrap.style1 .hero-img-wrap .hero-shape-two,
.theme-dark .hero-wrap.style1 .hero-shape-one {
  opacity: 0.32;
}
.theme-dark .hero-wrap.style1 .hero-img-wrap .hero-promo-text::after {
  border-top: 30px solid #071315;
}
.theme-dark .hero-wrap.style3 .hero-content-wrap::after {
  background-color: rgba(0, 0, 0, 0.9);
}
.theme-dark .search-box .form-group input,
.theme-dark .why-choose-wrap.style2 .quote-form form .form-group input,
.theme-dark .why-choose-wrap .quote-form form .form-group input,
.theme-dark .why-choose-wrap .quote-form form .form-group textarea,
.theme-dark .book-course-wrap .book-course-form .booking-form .form-group input {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.theme-dark .search-box .form-group input::-moz-placeholder, .theme-dark .why-choose-wrap.style2 .quote-form form .form-group input::-moz-placeholder, .theme-dark .why-choose-wrap .quote-form form .form-group input::-moz-placeholder, .theme-dark .why-choose-wrap .quote-form form .form-group textarea::-moz-placeholder, .theme-dark .book-course-wrap .book-course-form .booking-form .form-group input::-moz-placeholder {
  color: #fff;
  opacity: 0.9;
}
.theme-dark .search-box .form-group input::placeholder,
.theme-dark .why-choose-wrap.style2 .quote-form form .form-group input::placeholder,
.theme-dark .why-choose-wrap .quote-form form .form-group input::placeholder,
.theme-dark .why-choose-wrap .quote-form form .form-group textarea::placeholder,
.theme-dark .book-course-wrap .book-course-form .booking-form .form-group input::placeholder {
  color: #fff;
  opacity: 0.9;
}
.theme-dark .social-profile.style2 li a,
.theme-dark .social-profile.style1 li a,
.theme-dark .feature-item-wrap .feature-item.style2 .feature-icon,
.theme-dark .header-wrap .header-top .header-top-right .social-profile li a,
.theme-dark .team-card .team-info-wrap .team-link,
.theme-dark #contactForm .form-group input,
.theme-dark #contactForm .form-group textarea,
.theme-dark #cmt-form .comment-form .form-group input,
.theme-dark #cmt-form .comment-form .form-group textarea,
.theme-dark .login-form-wrap .login-body .form-group input,
.theme-dark .appointment-widget form .form-group input,
.theme-dark .appointment-widget form .form-group textarea {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
}
.theme-dark .social-profile.style2 li a::-moz-placeholder, .theme-dark .social-profile.style1 li a::-moz-placeholder, .theme-dark .feature-item-wrap .feature-item.style2 .feature-icon::-moz-placeholder, .theme-dark .header-wrap .header-top .header-top-right .social-profile li a::-moz-placeholder, .theme-dark .team-card .team-info-wrap .team-link::-moz-placeholder, .theme-dark #contactForm .form-group input::-moz-placeholder, .theme-dark #contactForm .form-group textarea::-moz-placeholder, .theme-dark #cmt-form .comment-form .form-group input::-moz-placeholder, .theme-dark #cmt-form .comment-form .form-group textarea::-moz-placeholder, .theme-dark .login-form-wrap .login-body .form-group input::-moz-placeholder, .theme-dark .appointment-widget form .form-group input::-moz-placeholder, .theme-dark .appointment-widget form .form-group textarea::-moz-placeholder {
  color: #fff;
  opacity: 0.8;
}
.theme-dark .social-profile.style2 li a::placeholder,
.theme-dark .social-profile.style1 li a::placeholder,
.theme-dark .feature-item-wrap .feature-item.style2 .feature-icon::placeholder,
.theme-dark .header-wrap .header-top .header-top-right .social-profile li a::placeholder,
.theme-dark .team-card .team-info-wrap .team-link::placeholder,
.theme-dark #contactForm .form-group input::placeholder,
.theme-dark #contactForm .form-group textarea::placeholder,
.theme-dark #cmt-form .comment-form .form-group input::placeholder,
.theme-dark #cmt-form .comment-form .form-group textarea::placeholder,
.theme-dark .login-form-wrap .login-body .form-group input::placeholder,
.theme-dark .appointment-widget form .form-group input::placeholder,
.theme-dark .appointment-widget form .form-group textarea::placeholder {
  color: #fff;
  opacity: 0.8;
}
.theme-dark .course-card.style3 .course-info .course-link,
.theme-dark .blog-card.style3 .blog-info .blog-link,
.theme-dark .blog-card.style3 .blog-info .blog-link,
.theme-dark .vehicle-card.style3 .vehicle-info .vehicle-link {
  background-color: #000;
}
.theme-dark .course-card.style3 .course-info .course-link i,
.theme-dark .blog-card.style3 .blog-info .blog-link i,
.theme-dark .blog-card.style3 .blog-info .blog-link i,
.theme-dark .vehicle-card.style3 .vehicle-info .vehicle-link i {
  color: #fff;
}
.theme-dark .book-course-wrap .book-course-form .booking-form .form-group select {
  background-color: #071315;
  border-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.85);
  background-image: url(../img/down-arrow-white.png);
}
.theme-dark .footer-wrap .footer-widget .contact-info li span,
.theme-dark .footer-wrap .footer-widget .social-profile li a,
.theme-dark .footer-wrap .footer-widget .newsletter-form .form-group input {
  background-color: #000;
}
.theme-dark .social-profile.style2 li a:hover,
.theme-dark .social-profile.style1 li a:hover,
.theme-dark .contact-box-wrap .contact-item .contact-icon,
.theme-dark .feature-item-wrap .feature-item.style2:hover .feature-icon,
.theme-dark .course-card.style3 .course-info .course-link:hover,
.theme-dark .vehicle-card.style3 .vehicle-info .vehicle-link:hover,
.theme-dark .blog-card.style3 .blog-info .blog-link:hover,
.theme-dark .header-wrap .header-top .header-top-right .social-profile li a:hover,
.theme-dark .team-card .team-info-wrap .team-link:hover,
.theme-dark .footer-wrap .footer-widget .social-profile li a:hover {
  background-color: #3D72FC;
}
.theme-dark .hero-wrap.style2 .hero-slide-item::before {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.98) 0%, rgba(0, 0, 0, 0.18) 68%, rgba(0, 0, 0, 0.2) 71%);
}
.theme-dark .header-wrap.style1 .header-bottom .others-options .header-btn::after {
  background: #091851;
}
.theme-dark .why-choose-wrap.style2 .quote-form {
  box-shadow: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.theme-dark .testimonial-slider-three.owl-carousel .owl-nav button.owl-next,
.theme-dark .testimonial-slider-three.owl-carousel .owl-nav button.owl-prev,
.theme-dark .vehicle-slider-one.owl-carousel .owl-nav button.owl-prev,
.theme-dark .vehicle-slider-one.owl-carousel .owl-nav button.owl-next,
.theme-dark .course-slider-one.owl-carousel .owl-nav button.owl-prev,
.theme-dark .course-slider-one.owl-carousel .owl-nav button.owl-next {
  background-color: rgba(255, 255, 255, 0.1);
}
.theme-dark .testimonial-slider-three.owl-carousel .owl-nav button.owl-next:hover,
.theme-dark .testimonial-slider-three.owl-carousel .owl-nav button.owl-prev:hover,
.theme-dark .vehicle-slider-one.owl-carousel .owl-nav button.owl-prev:hover,
.theme-dark .vehicle-slider-one.owl-carousel .owl-nav button.owl-next:hover,
.theme-dark .course-slider-one.owl-carousel .owl-nav button.owl-prev:hover,
.theme-dark .course-slider-one.owl-carousel .owl-nav button.owl-next:hover {
  background-color: #3D72FC !important;
}
.theme-dark .page-navigation .page-nav li a {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.85);
}
.theme-dark .page-navigation .page-nav li a i {
  color: rgba(255, 255, 255, 0.85);
}
.theme-dark .page-navigation .page-nav li a.active,
.theme-dark .page-navigation .page-nav li a:hover {
  background-color: #3D72FC;
  color: #fff;
}
.theme-dark .post-tag ul li a,
.theme-dark .tag-list ul li a {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.theme-dark .post-tag ul li a:hover,
.theme-dark .tag-list ul li a:hover {
  background-color: #3D72FC;
  color: #fff !important;
  border-color: transparent;
}
.theme-dark .course-brief,
.theme-dark .login-form-wrap,
.theme-dark .contact-box-wrap,
.theme-dark .contact-form,
.theme-dark .sidebar .sidebar-widget {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.theme-dark .pricing-card {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.theme-dark .pricing-card .pricing-header {
  background: #111;
}
.theme-dark .accordion-item .accordion-header .accordion-button {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

@media only screen and (max-width: 767px) {
  .header-wrap.style1,
  .header-wrap.style2 {
    background-color: #071315;
  }
}
@media only screen and (max-width: 991px) {
  .header-wrap.style2 {
    background-color: #000 !important;
  }
}
@media only screen and (max-width: 1199px) {
  .theme-dark .header-wrap .header-top,
  .theme-dark .header-wrap.style2 .header-bottom,
  .theme-dark .header-wrap.style3 .header-bottom {
    background-color: #000 !important;
  }
  .theme-dark .main-menu-wrap {
    background-color: #071315;
  }
  .theme-dark .mobile-top-bar span,
  .theme-dark .header-wrap.style2 .mobile-top-bar span,
  .theme-dark .header-wrap.style3 .mobile-top-bar span {
    background-color: #fff;
  }
  .theme-dark .menu-close i,
  .theme-dark .header-wrap.style2 .mobile-sidebar i,
  .theme-dark .header-wrap .header-top .close-sidebar i,
  .theme-dark .header-wrap .header-bottom .navbar .navbar-nav .nav-item .menu-expand i,
  .theme-dark .navbar-language .dropdown-toggle i {
    color: #fff !important;
  }
  .theme-dark .header-wrap .header-bottom .navbar .navbar-nav .nav-item a.active,
  .theme-dark .main-menu li a:hover {
    color: #3D72FC !important;
  }
  .theme-dark .header-wrap .header-bottom .navbar .navbar-nav .nav-item a {
    border-color: rgba(255, 255, 255, 0.2);
  }
  .theme-dark .main-menu li a.active,
  .theme-dark .main-menu li a {
    border-color: rgba(255, 255, 255, 0.2);
  }
  .theme-dark .header-wrap .header-top .header-top-right .select-lang::after {
    border-color: rgba(255, 255, 255, 0.72);
  }
}
@media only screen and (min-width: 1200px) {
  .theme-dark .main-menu-wrap #menu ul li.has-children .sub-menu {
    background-color: #071315;
  }
  .theme-dark .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li {
    border-color: rgba(255, 255, 255, 0.2);
  }
  .theme-dark .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a::before {
    background-color: #3D72FC;
  }
}/*# sourceMappingURL=dark-theme.css.map */