.select-lang .navbar-language .dropdown-toggle, .search-area, .header-wrap .header-top .header-top-right, .header-wrap .header-top .header-top-right, .search-area {
  display: flex;
  flex-wrap: wrap;
}

.search-area {
  flex-direction: column;
  justify-content: center;
}

.select-lang .navbar-language .dropdown-toggle, .header-wrap .header-top .header-top-right {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.header-wrap .header-top .header-top-right {
  justify-content: flex-end;
}

/*---------------------------------
        Header CSS 
-----------------------------------*/
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.fadeInDown {
  animation-name: fadeInDown;
}

.header-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  transition: 0.4s;
}
.header-wrap.sticky {
  position: fixed;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
  background: #fff;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  width: 100%;
  top: -58px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}
.header-wrap.sticky.style1 {
  background: #091851;
}
.header-wrap .header-top {
  padding: 13px 0;
  background-color: transparent;
}
.header-wrap .header-top .header-top-left .contact-info li {
  display: inline-block;
  margin-right: 25px;
}
.header-wrap .header-top .header-top-left .contact-info li:last-child {
  margin-right: 0;
}
.header-wrap .header-top .header-top-left .contact-info li i {
  font-size: 14px;
  line-height: 0.8;
  color: #3D72FC;
  position: relative;
  top: 2px;
  margin-right: 6px;
}
.header-wrap .header-top .header-top-left .contact-info li a, .header-wrap .header-top .header-top-left .contact-info li p {
  color: #666666;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 0;
}
.header-wrap .header-top .header-top-left .contact-info li a:hover, .header-wrap .header-top .header-top-left .contact-info li p:hover {
  color: #091851;
}
.header-wrap .header-top .header-top-right .social-profile {
  margin-right: 25px;
}
.header-wrap .header-top .header-top-right .social-profile li a {
  width: 30px;
  height: 30px;
  background-color: #eee;
}
.header-wrap .header-top .header-top-right .social-profile li a i {
  font-size: 16px;
  color: #999;
}
.header-wrap .header-top .header-top-right .social-profile li a:hover {
  background-color: #3D72FC;
}
.header-wrap .header-top .header-top-right .social-profile li a:hover i {
  color: #fff;
}
.header-wrap .header-bottom .searchbtn {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0 30px;
}
.header-wrap .header-bottom .searchbtn i {
  font-size: 20px;
  line-height: 0.8;
  position: relative;
  top: 3px;
  color: #fff;
}
.header-wrap.style1.sticky .header-bottom {
  padding: 0;
}
.header-wrap.style1 .header-bottom {
  background: #091851;
  margin: 0 auto;
  padding: 0 0 0 15px;
}
.header-wrap.style1 .header-bottom .others-options .header-btn {
  position: relative;
  z-index: 1;
}
.header-wrap.style1 .header-bottom .others-options .header-btn:after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: #3D72FC;
}
.header-wrap.style1 .header-bottom .others-options .header-btn .btn.style1 {
  padding: 33px 45px 27px;
  background: transparent;
}
.header-wrap.style1 .header-bottom .others-options .header-btn .btn.style1:before {
  background: #2F3B6B;
}
.header-wrap.style2 .header-top {
  background: #091851;
}
.header-wrap.style2 .header-top .header-top-left .contact-info li a, .header-wrap.style2 .header-top .header-top-left .contact-info li p {
  color: rgba(255, 255, 255, 0.7);
}
.header-wrap.style2 .header-top .header-top-right .social-profile li a {
  background: #2F3B6B;
}
.header-wrap.style2 .header-top .header-top-right .social-profile li a i {
  color: #fff;
}
.header-wrap.style2 .header-top .header-top-right .social-profile li a:hover {
  background: #3D72FC;
}
.header-wrap.style2 .header-top .header-top-right .select-lang span {
  color: rgba(255, 255, 255, 0.7);
}
.header-wrap.style2 .header-bottom {
  background: #fff;
  box-shadow: none;
}
.header-wrap.style2 .header-bottom .navbar .navbar-nav .nav-item a {
  color: #666666;
}
.header-wrap.style2 .header-bottom .navbar .navbar-nav .nav-item .dropdown-menu li a {
  color: rgba(255, 255, 255, 0.7);
}
.header-wrap.style2 .header-bottom .navbar .navbar-nav > .nav-item > a:after {
  background: #666666;
}
.header-wrap.style2 .header-bottom .searchbtn i {
  color: #666666;
}

.search-area {
  position: fixed;
  top: 0;
  left: 50%;
  width: 0%;
  height: 100vh;
  visibility: hidden;
  background: rgba(9, 24, 81, 0.95);
  opacity: 0;
  z-index: 990;
  transform: translateX(-50%);
  transition: 0.4s;
}
.search-area.open {
  width: calc(100% + 1px);
  visibility: visible;
  opacity: 1;
}
.search-area .close-searchbox {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
}
.search-area .close-searchbox i {
  color: #fff;
  font-size: 35px;
  font-weight: 300;
}
.search-area .form-group input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  padding: 20px 0;
  color: #fff;
}
.search-area .form-group input::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.search-area .form-group input::placeholder {
  color: #fff;
  opacity: 1;
}

.select-lang {
  padding-left: 18px;
  position: relative;
}
.select-lang i {
  position: absolute;
  top: 2px;
  left: 0;
  font-size: 15px;
  line-height: 1;
  color: #3D72FC;
}
.select-lang .navbar-language .dropdown-toggle {
  background-color: transparent;
  border: none;
  color: #666666;
  font-size: 14px;
  padding-right: 16px;
  transition: 0.3s;
}
.select-lang .navbar-language .dropdown-toggle:after {
  display: none;
}
.select-lang .navbar-language .dropdown-toggle:before {
  position: absolute;
  top: -3px;
  right: -2px;
  content: "\ea4d";
  font-family: "remixicon";
  border: 0;
  font-size: 18px;
  color: #666666;
}
.select-lang .navbar-language .dropdown-menu {
  margin: 0;
  padding: 5px 0;
  box-shadow: 0 9px 54px 0 rgba(32, 32, 32, 0.1);
  left: auto;
  right: 0;
  inset: 0px 0 auto auto !important;
  border: none;
  border-radius: 0;
  transform: translateY(75px) !important;
  display: block;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s linear;
}
.select-lang .navbar-language .dropdown-menu a {
  padding: 5px 10px;
  transition: all 0.3s linear;
  font-size: 15px;
}
.select-lang .navbar-language .dropdown-menu a img {
  width: 20px;
  margin-right: 10px;
}
.select-lang .navbar-language .dropdown-menu.show {
  transform: translateY(40px) !important;
  opacity: 1;
  pointer-events: all;
}

@media only screen and (max-width: 767px) {
  .navbar-brand img {
    max-width: 120px;
  }
  .header-wrap.sticky {
    top: 0;
  }
  .header-wrap.style2 {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.07);
  }
  .header-wrap.style2 .header-top .header-top-left,
  .header-wrap.style2 .header-top .header-top-right {
    justify-content: flex-start;
  }
  .header-wrap.style1, .header-wrap.style2 {
    background-color: #091851;
  }
  .header-wrap.style1 .header-bottom, .header-wrap.style2 .header-bottom {
    padding-left: 0;
    padding-right: 0;
  }
  .header-wrap .header-top {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    padding: 40px 10px 10px;
    background: #fff;
    z-index: 1;
    transition: 0.4s;
  }
  .header-wrap .header-top.open {
    left: 0;
  }
  .header-wrap .header-top .close-sidebar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  .header-wrap .header-top .close-sidebar i {
    color: #091851;
    font-size: 24px;
  }
  .header-wrap .header-top .header-top-left {
    text-align: left;
    margin-bottom: 15px;
  }
  .header-wrap .header-top .header-top-left .contact-info li {
    display: block;
    margin: 0 0 10px 0;
  }
  .header-wrap .header-top .header-top-left .contact-info li:last-child {
    margin-bottom: 0;
  }
  .header-wrap .header-top .header-top-right {
    justify-content: flex-start;
  }
  .header-wrap .header-top .header-top-right .social-profile {
    margin-bottom: 15px;
    width: 100%;
  }
  .header-wrap .header-top .header-top-right .select-lang .navbar-language .dropdown-menu {
    inset: 0px auto auto 0 !important;
  }
  .header-wrap .mobile-sidebar {
    position: relative;
    top: -3px;
    display: inline-block;
    line-height: 1;
    cursor: pointer;
  }
  .header-wrap .mobile-sidebar i {
    font-size: 24px;
    color: #fff;
  }
  .search-area .form-group input {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .close-sidebar,
  .mobile-sidebar {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-wrap.sticky {
    top: -95px;
  }
  .header-wrap .header-top .header-top-left {
    text-align: center;
    margin-bottom: 15px;
  }
  .header-wrap .header-top .header-top-right {
    justify-content: center;
  }
  .header-wrap .header-top .header-top-left,
  .header-wrap .header-top .header-top-right {
    justify-content: center;
  }
  .header-wrap .header-top .header-top-right .social-profile {
    margin-right: 20px;
  }
  .header-wrap .header-top .header-top-right .social-profile::after {
    right: -10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .header-wrap .header-bottom .navbar .navbar-nav .nav-item .dropdown-menu {
    height: 100vh;
  }
}
@media only screen and (max-width: 991px) {
  .header-wrap.style2 {
    background-color: #fff;
  }
  .header-wrap.style2 .header-top .header-top-left {
    margin-bottom: 10px;
  }
  .header-wrap.style2 .header-top .close-sidebar i {
    color: #fff;
    font-size: 24px;
  }
}
@media only screen and (min-width: 992px) {
  .header-wrap.sticky.style1 .header-bottom {
    box-shadow: none;
    padding: 0;
  }
}
@media only screen and (max-width: 1199px) {
  .header-wrap .header-top .header-top-left .contact-item p,
  .header-wrap .header-top .header-top-left .contact-item a {
    font-size: 16px;
    font-weight: 400;
  }
  .header-wrap.sticky .mobile-menu {
    margin-right: 0;
  }
  .header-wrap.style1 .header-bottom {
    background-color: #091851;
  }
  .header-wrap.style1 .mobile-menu a {
    background: #fff;
  }
  .header-wrap.style1 .mobile-menu a i {
    color: #091851;
  }
  .header-wrap.style2 .mobile-menu a {
    background: #091851;
  }
  .header-wrap.style2 .mobile-menu a i {
    color: #fff;
  }
  .header-wrap.style2 .mobile-sidebar i {
    color: #666666;
  }
  .header-wrap .header-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .header-wrap .header-bottom .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .header-wrap .header-bottom .navbar .navbar-collapse {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
  }
  .header-wrap .header-bottom .navbar .navbar-nav {
    width: 100%;
    flex-direction: column;
  }
  .header-wrap .header-bottom .navbar .navbar-nav .nav-item {
    position: relative;
  }
  .header-wrap .header-bottom .navbar .navbar-nav .nav-item .menu-expand {
    position: absolute;
    right: 0;
    top: 14px;
    cursor: pointer;
  }
  .header-wrap .header-bottom .navbar .navbar-nav .nav-item .menu-expand i {
    color: #000;
    font-size: 18px;
    line-height: 1;
    position: relative;
    top: 7px;
  }
  .header-wrap .header-bottom .navbar .navbar-nav .nav-item a {
    border-bottom: 1px solid #F3F4F6;
    padding-top: 15px;
    padding-bottom: 12px;
    color: #000;
  }
  .header-wrap .header-bottom .navbar .navbar-nav .nav-item a i {
    display: none;
  }
  .header-wrap .header-bottom .navbar .navbar-nav .nav-item a.active {
    color: #3D72FC;
  }
  .header-wrap .header-bottom .navbar .navbar-nav .nav-item a.btn.style1 {
    display: block;
    width: 100%;
    margin-top: 20px;
  }
  .header-wrap .header-bottom .navbar .navbar-nav .nav-item .dropdown-menu {
    width: 100%;
    background-color: #fff;
    border: none;
    padding: 0;
  }
  .header-wrap .header-bottom .navbar .navbar-nav .nav-item .dropdown-menu li a {
    font-size: 14px;
    padding-left: 10px;
    margin-left: 10px;
  }
  .header-wrap .header-bottom .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
    color: #091851;
  }
  .header-wrap .header-bottom .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu {
    margin-left: 20px;
  }
  .header-wrap .header-bottom .navbar .navbar-nav .nav-item .btn.style1 {
    margin-top: 15px;
    color: #fff;
    padding: 15px 15px 10px;
  }
  .header-wrap .header-bottom .searchbtn {
    margin: 0 15px 0 15px;
  }
  .header-wrap .header-bottom .searchbtn i {
    top: -1px;
  }
  .mobile-bar-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    position: relative;
    top: 4px;
  }
  .menu-close {
    position: absolute;
    top: 13px;
    right: 16px;
  }
  .menu-close i {
    color: #000;
    font-size: 25px;
  }
  .mobile-menu {
    text-align: right;
  }
  .mobile-menu a {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    background-color: #091851;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mobile-menu a i {
    font-size: 22px;
    color: #fff;
    margin: 0 auto;
  }
  .mobile-menu {
    display: inline-block;
    position: relative;
    top: -6px;
    margin: 0;
  }
  .mobile-top-bar {
    display: inline-block;
    margin-right: 6px;
    cursor: pointer;
    position: relative;
    top: 0px;
  }
  .mobile-top-bar span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #000;
    border-radius: 20px;
    margin: 5.9px 0;
  }
  .mobile-top-bar span:nth-child(1) {
    margin-top: 0;
  }
  .mobile-top-bar span:nth-child(2) {
    width: 12px;
    margin-left: 8px;
  }
  .close-header-top button {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 999;
    background: transparent;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 0;
  }
  .close-header-top button i {
    color: #000;
    font-size: 26px;
  }
  .main-menu-wrap {
    width: 100%;
    position: fixed;
    background: #fff;
    z-index: 999;
    top: 0;
    height: 100vh;
    transition: 0.5s;
    left: -100%;
    padding: 55px 20px 30px;
    overflow-y: auto;
    transition: 0.4s;
  }
  .main-menu-wrap.open {
    left: 0;
  }
  .main-menu > li.has-children.menu-open > span.menu-expand {
    transform: rotate(180deg);
  }
  .main-menu > li.has-children.menu-open > span.menu-expand i {
    color: #000;
  }
  .main-menu > li > ul > li.has-children.menu-open > span.menu-expand {
    transform: rotate(180deg);
  }
  .main-menu li {
    position: relative;
  }
  .main-menu li:last-child {
    margin: 0;
  }
  .main-menu li > span.menu-expand {
    position: absolute;
    right: 0;
    top: 13px;
    cursor: pointer;
  }
  .main-menu li > span.menu-expand i {
    color: #000;
    font-size: 18px;
  }
  .main-menu li > span.menu-expand:hover {
    color: #000;
  }
  .main-menu li a.active {
    color: #000;
  }
  .main-menu li > a {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    text-transform: capitalize;
    display: block;
    padding: 12px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .main-menu li > a:hover {
    color: #000;
  }
  .main-menu li > ul.sub-menu {
    padding-left: 20px;
  }
  .header-wrap .header-bottom .main-menu-wrap #menu > ul > li > a::after {
    display: none;
  }
  .main-menu li a.active {
    font-weight: 600;
    color: #000;
    border-color: rgba(0, 0, 0, 0.3);
  }
}
@media only screen and (min-width: 1200px) {
  .menu-expand i {
    display: none;
  }
  .header-wrap .navbar {
    padding: 0;
  }
  .header-wrap .navbar .navbar-brand {
    padding: 0 20px 0 0;
  }
  .header-wrap .navbar ul {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
  }
  .header-wrap .navbar .navbar-nav {
    margin-left: auto;
    position: relative;
  }
  .header-wrap .navbar .navbar-nav > .nav-item {
    position: relative;
    top: 3px;
  }
  .header-wrap .navbar .navbar-nav > .nav-item > a:after {
    position: absolute;
    bottom: 30px;
    left: 0;
    content: "";
    width: 0;
    height: 2px;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
  }
  .header-wrap .navbar .navbar-nav .nav-item {
    position: relative;
    margin: 0 10px;
  }
  .header-wrap .navbar .navbar-nav .nav-item.has-dropdown {
    position: relative;
    top: 0px;
  }
  .header-wrap .navbar .navbar-nav .nav-item.first-child {
    margin-left: 0;
  }
  .header-wrap .navbar .navbar-nav .nav-item a {
    color: #fff;
    font-weight: 500;
    padding: 30px 0;
    transition: 0.4s;
    position: relative;
  }
  .header-wrap .navbar .navbar-nav .nav-item a:hover, .header-wrap .navbar .navbar-nav .nav-item a:focus, .header-wrap .navbar .navbar-nav .nav-item a.active {
    color: #091851;
  }
  .header-wrap .navbar .navbar-nav .nav-item a:hover:after, .header-wrap .navbar .navbar-nav .nav-item a:focus:after, .header-wrap .navbar .navbar-nav .nav-item a.active:after {
    visibility: visible;
    opacity: 1;
    width: 18px;
  }
  .header-wrap .navbar .navbar-nav .nav-item a i {
    font-size: 18px;
    line-height: 1;
    position: relative;
    top: 2px;
    display: inline-block;
    margin-left: -3px;
    transition: 0.4s;
  }
  .header-wrap .navbar .navbar-nav .nav-item a:hover i {
    transform: rotate(180deg);
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu {
    display: block !important;
    border: none;
    top: 95px;
    left: -23px;
    z-index: 99;
    opacity: 0;
    width: 265px;
    padding: 0;
    display: block;
    border-radius: 0;
    border-radius: 0 0 5px 5px;
    position: absolute;
    visibility: hidden;
    background: #091851;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    transition: 0.5s;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li {
    margin: 0 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li:last-child {
    border-bottom: none;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a {
    padding: 18px 0 12px;
    position: relative;
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a::before {
    position: absolute;
    top: 26px;
    left: 0px;
    content: "";
    width: 15px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a.active, .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a:hover {
    color: #fff;
    padding-left: 22px;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a.active:before, .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a:hover:before {
    visibility: visible;
    opacity: 1;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
    width: 100%;
    right: auto;
    left: 0;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a i {
    margin: 0;
    position: absolute;
    top: 55%;
    font-size: 16px;
    line-height: 1;
    transform: translateY(-50%);
    right: 0;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    top: 0;
    opacity: 0;
    left: -275px;
    right: auto;
    visibility: hidden;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
  }
  .header-wrap .navbar .navbar-nav .nav-item:hover .dropdown-menu {
    top: 85px;
    opacity: 1;
    visibility: visible;
  }
  .header-wrap .navbar .others-options {
    display: flex;
    align-items: center;
  }
  .header-wrap.style1 .header-bottom .navbar-nav > .nav-item > a:after {
    background-color: #fff;
  }
  .header-wrap.style1 .header-bottom .navbar-nav .nav-item a {
    color: #fff;
  }
}
@media only screen and (min-width: 1400px) {
  .header-wrap .navbar .navbar-nav .nav-item {
    margin: 0 15px;
  }
  .header-wrap .navbar .navbar-nav .nav-item a {
    font-size: 17px;
  }
}
@media only screen and (min-width: 1600px) {
  .header-wrap.style1 .container, .header-wrap.style2 .container {
    max-width: 1520px;
  }
}
@media only screen and (min-width: 1920px) {
  .header-wrap.style1 .container, .header-wrap.style2 .container {
    max-width: 1620px;
  }
}/*# sourceMappingURL=header.css.map */